.product-page{
  max-width:1200px;
  margin:auto;
  padding:60px 30px;
  display:flex;
  gap:60px;
  flex-wrap:wrap;
}

.product-image-large{
  width:500px;
  max-width:100%;
  border-radius:20px;
  transition:.3s;
}

.product-image-large:hover{
  transform:scale(1.03);
}

.size-btn,
.color-btn{
  padding:12px 18px;
  margin-right:10px;
  margin-top:10px;
  cursor:pointer;
  border-radius:10px;
}

.add-cart-btn{
  margin-top:30px;
  padding:15px 35px;
  background:#111;
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.price{
  color:#D4AF37;
  font-size:32px;
  font-weight:bold;
}